#kb-amz-admin .categorychecklist ul{
    margin-left: 20px;
}
#kb-amz-admin img{
    max-width: 100%!important;
    max-height: 100%;
    height: auto;
}
#kb-amz-admin{
    padding: 0 20px;
    padding-left: 0;
    padding-bottom: 20px;
    min-height: 300px;
    background: white;
    color: black;
    position: relative;
}
.kb-amz-url-upload .caption a{
    line-height: 1.1;
    height: 4.4em;

}
.kb-amz-url-upload .import-title{
    line-height: 1.1;
    height: 4.4em;
    overflow: hidden;
}
.kb-amz-url-upload .import-image{
    height: 180px;
    overflow: hidden;
    text-align: center;
}
.kb-amz-product-attributes #sortable2 input{
    display: none;
}
.kb-amz-product-attributes #sortable1 input{
float: right;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 5000;
}
.kb-amz-product-attributes #sortable1 .list-group-item{
    position: relative;
}

#kb-amz-admin .form-control{
    height: 34px !important;
    line-height: 1.42857 !important;
    padding: 6px 12px !important;
}
#kb-amz-admin textarea.form-control{
    height: auto !important;
}
.kb-amz-checkbox-toggle{
    margin-bottom: 10px;   
}
.badge .kbbr{
    display: none;
}
.kb-amz-select-width-100{
    width: 100%;
}

.kb-amz-select-width select{
    width: 100%;
}
#kb-amz-version ul, #kb-amz-version li, .infoAction #kb-amz-content li{
    list-style-type: disc;
}
#kb-amz-version ul, .infoAction #kb-amz-content ul{
    padding-left: 15px;
}
#kb-amz-footer .credit{
    text-align: center;
    margin-top: 10px;
}
.homepage .label{
    display: inline-block;
    margin-bottom: 5px;
}
.info-items a{
    display: block;
}
.loading, .loading *{
    cursor: progress!important;
}
.alert{
    padding: 5px 10px!important;
    margin-bottom: 10px!important;
}
/*#kb-amz-admin label{
    width: 100%;
}
#kb-amz-admin form.import-products label{
    width: inherit;
}*/
#bottom-controlls{
    bottom: 0;
    max-width: 100%;
    width: 50%;
    position: fixed;
    right: 0;
    /*width: 600px;*/
    z-index: 1000;
    padding: 5px;
    background: none repeat scroll 0 0 rgba(200, 200, 200, 0.8);
}
.progress{
    margin-bottom: 0!important;
}
#kb-amz-categories-products .loaded .thumbnail{
    border-color: #31708f;
}
#kb-amz-categories-products .success .thumbnail{
    border-color: #3c763d;
}
#kb-amz-categories-products .danger .thumbnail{
    border-color: #a94442;
}
#kb-amz-admin input[type="checkbox"] {
    margin-top: 0;
}
.icons-actions a
{
    position: relative;
    display: inline-block;
    padding: 20px;
    border: 1px solid #aeaeae;
    text-align: center;
    text-decoration: none!important;
    color: black!important;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.icons-actions a span
{
    margin-bottom: 10px;
}
#kb-amz-admin label{
    max-width: 100%;
    width: 300px;
}

.bs-callout
{
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 0 0 10px 0;
    padding: 5px 10px;
}
.bs-callout-info
{
    border-left-color: #1b809e;
}
.bs-callout-info h4
{
    color: #1b809e;
}

.kb-amz-icon-action-dot
{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #3c763d;
    padding: 10px;
    line-height: 0;
    font-size: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(60,118,61,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(60,118,61,1);
    box-shadow: 0px 0px 3px 0px rgba(60,118,61,1);
}
.kb-amz-icon-action-dot.not-active
{
    background: #a94442;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(169,68,66,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(169,68,66,1);
    box-shadow: 0px 0px 3px 0px rgba(169,68,66,1);
}
#sync-container
{
    margin-left: -5px;
}
.kb-amz-product-sync
{
    width: 120px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.kb-amz-product-sync img
{
    max-width: 100%;
}